.Backgrund{
    background-image: url(/img/snow_winter_trees.jpg);
    background-size: cover;
    background-position: 55%;
}

.bilder{
    border: 2px solid #D6001C;
    max-height: 100px;
    flex-direction: row;
}

